 #root{
  height: 100vh;
  border: 1px solid black;
  color: white;
  
}

.output {
  display: flex;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 17%;
  border: 2px solid black;
}
.grid-container {
  display: grid;
  height: 80%;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: repeat(5,20%);
  padding: 5px;
  grid-gap: 0.1rem;

}

.grid-item{
  background-color: black;
  color: white;
}

.equals {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 4;
}

