body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
#root {
  background-color: rgba(25, 15, 15, 0.93);
  height: 59vh;
  width: 60vh;
}

#outputfield {
  display: flex;
  font-size: 4rem;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.5rem;
  align-items: flex-end;
  justify-content: flex-start;
  height: 5rem;
  border-style: ridge;
  background-color: rgb(63, 50, 50);
  color: white;
}
#buttons {
  padding: 0.3rem;
}
button {
  height: 5.5rem;
  width: 14.4vh;
  margin: 0.1rem;
  font-family: 'Courier New', Courier, monospace;

  font-size: 2rem;

  background-color: rgb(101, 95, 95);
  border-radius: 10px;
}

#equalsButton {
  display: flex;
  justify-content: flex-end;
}
#equals {
  height: 15rem;
}
